# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# ChromaDB
data/vector_db/

# Logs
*.log

# Database
*.db
*.sqlite3

# Runtime data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/vector_db/*
!data/vector_db/.gitkeep